@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  background-color: #4b576f;
}

::-webkit-scrollbar-thumb {
  background-color: #323c52;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #293143;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.errorMsg {
  @apply text-red-800 text-sm;
}

.buttonTW {
  @apply bg-red-600 hover:bg-red-700;
}

.btnRed {
  @apply uppercase bg-red-500/90 hover:bg-red-500 rounded py-1 px-3 text-white;
}

.btnGreen {
  @apply relative overflow-hidden uppercase bg-green-500/90 hover:bg-green-500 rounded py-2 px-3 text-white;
}

.btnBlack {
  @apply uppercase bg-black/90 hover:bg-black rounded py-1 px-3 text-white;
}

.bubble {
  @apply relative before:rotate-45 before:z-10 before:content-[''] before:w-0 before:h-0 before:absolute before:top-[-6px] before:left-[-5px] before:border-[6px] before:border-b-white before:border-transparent;
}

.bubbleOwner {
  @apply relative before:rotate-45 before:z-10 before:content-[''] before:w-0 before:h-0 before:absolute before:top-[-6px] before:right-[-5px] before:border-[6px] before:border-r-[#414857] before:border-transparent;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
